.navbar {
    float: inline-end;
    margin-right: 20px;
    padding: 10px;
    padding-left: 30px;
}
.navbar-brand {
    background-color: rgb(76, 230, 217);
}
body {
    background-color: gray;
}
.container {
    background-color: white;
}
.image {
    float: left;
    padding-right: 10px;
}
.about-me {
    float:right;
}