.navbar {
    float: inline-end;
    margin-right: 20px;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
}
.navbar-brand {
    background-color: rgb(56, 173, 164);
}
body {
    background-color: rgb(179, 179, 179);
}
.col-md-12 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.move-down {
    padding-top: 10px;
}
h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(56, 173, 164);
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(153, 153, 153);
}
img {
    padding: 20px ;
}
footer {
    border-top: 1px solid rgb(153, 153, 153);
    margin: 50px;
    background-color: aqua;
}