.navbar {
    float: inline-end;
    margin-right: 20px;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
}
.navbar-brand {
    background-color: rgb(56, 173, 164);
}
body {
    background-color: rgb(179, 179, 179);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
#main-body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.container {
    background-color: white;
    padding-bottom: 15px;
}
.move-down {
    padding-top: 10px;
}
h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(56, 173, 164);
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(153, 153, 153);
}
.form-group {
    padding-left: 10px;
    padding-right: 100px;
}
.image-holder {
    padding-bottom: 20px ;
    width: 100%;
}
.image {
    float: left;
    padding: 15px;
}
.paragraph {
    padding: 20px;
    text-align: justify;
} 
footer {
    border-top: 5px solid rgb(0, 0, 0);
    position: fixed;
    background-color:white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}